[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
psycopg2 = "*"
bcrypt = "*"
requests = "*"
django = "*"
install = "*"
djangorestframework-jsonapi = "*"
django-cors-headers = "*"
crypto = "*"
dj-database-url = "*"
django-heroku = "*"
gunicorn = "*"
dj-static = "*"

[requires]
python_version = "3.9"
